/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
#image {
  display: none;
}
#card-single:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
#show-more {
  display: none;
}
#spinner {
  display: none;
}
